{% extends 'base.html' %}

{% block title %}ToDo App{% endblock %}

{% block content %}
    <h1>Hi, {{ first_name }}!</h1>


</a>
    <p>This is the home page. You can manage your tasks here.</p>

    <!-- sort toggle -->
    <a href="{% if next_sort == 'date' %}/{% else %}?sort={{ next_sort }}{% endif %}">
    <button>
    {% if current_sort == 'date' %}         📅 View
    {% elif current_sort == 'priority' %}   ⭐ Priority
    {% elif current_sort == 'deadline' %}   ⏰ Deadline
    {% endif %}
    </button></a>

    <a href="{% url 'task_history' %}"><button>View Task History</button></a>
    <a href="{% url 'logout' %}"><button>Logout</button></a>


    <!-- add task form -->
    <form method="POST" action="{% url 'add_task' %}">
    {% csrf_token %}
    {{ form.title }}
    <button type="button" id="advanced-btn" >⚙</button>
    <button type="submit"> Add Task</button>
    <div id="advanced-settings">
        {{ form.priority }}
        {{ form.deadline }}
    </div>
    
</form>


<!-- task list -->    
{% for task in tasks %}
    <div >
        <p>{{ task.title }}</p>
        <!-- Show additional details based on the current sorting criteria -->
        {% if current_sort == 'priority' %} 
            <p>Priority: {{ task.get_priority_display }}</p>
        {% endif %}
        {% if current_sort == 'deadline' %}
            {% if task.deadline %}
                <p>Due: {{ task.deadline|date:"d M Y, H:i" }}
                {% if task.deadline < now %}
                    🔴 Overdue
                {% endif %}
                </p>

            {% else %}
                <p>No Deadline</p>
            {% endif %}
        {% endif %}

        <div style="display: flex; gap: 8px;">
            <form method="POST" action="{% url 'complete_task' task.pk %}">
                {% csrf_token %}
                <button type="submit">Complete</button>
            </form>

            <form method="POST" action="{% url 'delete_task' task.pk %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
{% empty %}
    <p>No tasks yet.</p>
{% endfor %}

{% endblock %}
