<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        {% block title %}ToDo App{% endblock %}
    </title>
</head>
<body>
{% block content %}
    <h1>Hi, {{ first_name }}!</h1>
    <p>This is the home page. You can manage your tasks here.</p>
    <a href="{% url 'logout' %}">Logout</a>

    <form method="POST" action="{% url 'add_task' %}">
    {% csrf_token %}

    {{ form.title }}
    {{ form.priority }}
    {{ form.deadline }}

    <button type="submit">
        Add
    </button>
</form>
    <a href="{% url 'task_history' %}">View Task History</a>

    <div>
        <h1>TASKS</h1>
        {% for task in tasks %}
            <p>{{ task.title }}</p>
            <a href = "{% url 'delete_task' task.pk %}">
                <button>Delete</button>
            </a>
            <a href = "{% url 'complete_task' task.pk %}">
                <button>Complete</button>
            </a>        

        {% endfor %}
    </div>
{% endblock %}


</body>
</html>