<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        {% block title %}ToDo App{% endblock %}
    </title>
</head>
<body>

    <h1>Hi, {{ first_name }}!</h1>
    <p>This is the home page. You can manage your tasks here.</p>
    <a href="{% url 'logout' %}">Logout</a>

{% block content %}
    <div>
        <h1>TASKS</h1>
        {% for task in tasks %}
            <p>Title is {{ task.title }}</p>
            <p>Assigned to: {{ task.user }}</p>
            <p>Created at: {{ task.created_at }}</p>
            <p>Deadline: {{ task.deadline }}</p>
            <p>Completed: {{ task.completed }}</p>

        {% endfor %}
    </div>
{% endblock %}


</body>
</html>